@model Bloggie.Web.Models.ViewModels.AddTagRequest
@{
}
<h3>
	Adding Tags to Site - Admin Functionality</small>
</h3>

<div class="container py-5">
	<form method="post">
		<div class="mb-3">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" id="name" asp-for="Name" required>
			<span class="text-danger" asp-validation-for="Name"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Display Name</label>
			<input type="text" class="form-control" id="displayName" asp-for="DisplayName" required>
			<span class="text-danger" asp-validation-for="DisplayName"></span>
		</div>
		<div class="mb-3">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>

